@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #022a9a;
  --color-primary-light: #e0edff;
  --color-neutral-hard: #e0edff;
  --color-neutral-dark: #606882;
  --color-text-dark: #313643;
  --color-text-title: #3a3a3a;
  --color-text-light: #565656;
  --color-border-neutral: #dee2ec;
  --color-background-base: #fafafa;
  --color-success: #1c8367;
  --font-public: 'Public Sans', sans-serif;
  --shadow-soft: 0px 2px 24px rgba(85, 85, 85, 0.08);
  --elevation-shadow-soft: 0 1px 0 var(--color-border-neutral);
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
}
